/*! 선택자란 CSS가 특정 요소를 선택하여 스타일을 적용하게 하는 중요한 요소. */
/*! CSS는 기본적으로 상속 구조라 상위에 적용한 스타일은 하위에도 적용된다.  */
/*! 좁은 범위의 셀렉터가 넓은 범위의 셀렉터보다 높은 우선순위로 적용된다.   */

/** ALL(UNIVERSAL) SELECTOR(*)는 모든 요소에 스타일을 적용 */
* { background-color:gainsboro; color: skyblue; }


/** Type(Tag) SELECTOR는 특정 태그에 스타일을 적용 */
tag { color: purple; }
    h1{ background-color: black; color:yellow}
    li{ color: green;} 
    button {font-size:2cm;} 
    pre {font-size:15px; background-color: gray;}


/** Class SELECTOR는 특정 클래스에 스타일을 적용*/
.class { color: green; }
    .aaa { color: red; } 
    .bbb { color: gray;}



  /** ID 선택자는 특정 요소에 ID(유일한 값)를 부여한 후 해당 ID에만 스타일을 적용. */
#ID { color: gray; }
    #aaa {color: orange; }
    #bbb {color: black}


/** Attribute SELECTOR는 특정 속성에 스타일을 적용 */
[attr] { color: blue; } /*? 속성이 있는 모든 요소에 스타일 적용 */
[attr="value"] { color: blueviolet; } /*? 특정 값을 가진 속성에 스타일 적용 */
[attr^="prefix"] { color: darkblue; } /*? 특정 접두사로 시작하는 값을 가진 속성에 스타일 적용 */
[attr$="suffix"] { color: darkcyan; } /*? 특정 접미사로 끝나는 값을 가진 속성에 스타일 적용 */
[attr*="substring"] { color: darkgreen; } /*? 특정 문자열을 포함하는 값을 가진 속성에 스타일 적용 */

    [href]{color: pink;}
    [href="www.naver.com"]{color:blue;}
    [href^="https://"]{color:green;}
    [href$=":443"]{color:yellow;}
    [href*="daum"]{color:black;}


/** GENERAL SIBLING SELECTOR는 형제 요소들에 스타일을 적용 */
base_element ~ element { color: yellow; }  /*? 기준이 되는 elements의 형제 요소들에게 스타일 적용*/
    #starter ~ li {background-color: azure; color: red}


/** Adjacent Sibling SELECTOR는 인접 형제 요소에 스타일을 적용 */
base_element + element { color: orange; }
    #base2 + li { color: orange; }



/** Child SELECTOR는 특정 요소 하위의 바로 하위에 속한 요소들에 스타일을 적용 */
parent_element > child_element { color: red; }
    ol > li { color: red; }


/** Descendant SELECTOR는 특정 요소 하위의 모든 요소들에 스타일을 적용 */
ancestor_element descendant_element { color: brown; }
    ul li {color:black}


/** Pseudo SELECTOR는 스타일을 적용 */
element:hover { color: pink; } /*? 마우스를 요소에 올렸을 때 스타일 적용 */
element::before { content: 'Before'; color: teal; } /*? 요소의 앞에 콘텐츠를 삽입하여 스타일 적용 */
element::after { content: 'After'; color: navy; } /*? 요소의 뒤에 콘텐츠를 삽입하여 스타일 적용 */
    div:hover { background-color: yellow;}