# : comments
# 특정 확장자 무시 like .txt 
# 특정 확장자 무시 + 일부 파일 허용 like !파일명.txt
# only ignore the TODO file in the current directory, not subdir/TODO
# 특정 폴더를 모두 무시
# doc 바로 하위 폴더의 모든 .txt를 무시  like doc/*.txt
# doc 하위 폴더를 포함한 모든 pdf를 무시 like doc/**/*.pdf

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

README.md
